$font-size:('mobile':18px,'tablet':25px,'desktop':70px);//map-get

@mixin flexbox($fd,$ai){
    display:flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    flex-direction: $fd;
    justify-content: space-between;
    align-items: $ai;
}

.class{//extend, if we dont want to chnage any values
    font-size: 2rem;
    color: red;
    background: pink
}

//partials