*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    margin: 8rem auto;
    max-width: 550px;
    background: salmon;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1rem;
    margin: 1rem;
}

